<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StaticBlog</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" media="screen,projection">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!-- Materialize navigator -->
    <nav>
      <div class="nav-wrapper blue-grey">
        <div class="container">
          <a href="<%= page_path(@conn, :index) %>" class="left brand-logo">Elixon</a>
          <ul class="right">
            <li><a href="<%= archive_path(@conn, :index) %>">Archive</a></li>
            <li><a href="<%= gallery_path(@conn, :index) %>">Gallery</a></li>
            <li><a href="<%= about_path(@conn, :index) %>">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main container -->
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <!-- Materialize footer -->
    <footer class="page-footer blue-grey">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Be a better man</h5>
            <p class="grey-text text-lighten-4">Read more and code more.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://elixir-lang.org">Elixir</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.phoenixframework.org">Phoenix</a></li>
              <li><a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Elixon
          <a class="grey-text text-lighten-4 right" href="http://github.com/baoxiehao">Github</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.carousel').carousel();
      });
    </script>
  </body>
</html>
