<%= for post <- @posts do %>
  <div class="section">
  </div>

  <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel grey lighten-4 black-text">
          <h5>
            <a class="black-text" href="<%= post_path(@conn, :show, post.path) %>"><%= post.title %></a>
          </h5>
          <p><%= Timex.format!(post.date, "{Mshort} {D} {YYYY}") %></p>
        </div>
      </div>
    </div>
<% end %>
