<%= for image <- @images do %>
  <div class="section">
  </div>
  <p><%= image |> String.split(".") |> Enum.at(0) %></p>
  <img style="display: block; width: 100%" src="<%= "/images/#{image}" %>">
<% end %>

<div class="section">
</div>
