<div class="row">
  <div class="section">
  </div>

  <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
    <img style="display: block; width: 100%" src="<%= "/images/self.jpg" %>">
  </div>

  <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
    <%= raw(@content) %>
  </div>
</div>
